/* CSS Styles for the comments section */

textarea.comment-field {
  position: absolute;
  top: 158px;
  left: 25px;
  width: 163px;
  height: 29px;
  background-color: white;
  color: black;
  font-family: Tahoma, sans-serif;
  font-size: 8pt;
  word-wrap: break-word;
}

.checkbox {
  position: absolute;
  top: 125px;
  left: 28px;
  width: 15px; /* Updated size */
  height: 15px; /* Updated size */
  background-color: white;
  color: black;
  font-family: Tahoma, sans-serif;
  font-size: 10pt; /* Updated font size */
}

.checkbox-label {
  position: absolute;
  top: 125px;
  left: 50px; /* Positioning the label next to the checkbox */
  font-family: Tahoma, sans-serif;
  font-size: 10pt; /* Updated font size */
  color: black; /* Updated color */
}

button.add-comment-button {
  position: absolute;
  top: 163px;
  left: 207px;
  width: 68px;
  height: 17px;
  background-color: gray;
  color: black;
  font-family: Tahoma, sans-serif;
  font-size: 8pt;
}

button.exit {
  position: absolute;
  top: 163px;
  left: 287px;
  width: 52px;
  height: 18px;
  background-color: gray;
  color: black;
  font-family: Tahoma, sans-serif;
  font-size: 8pt;
}

.comments-block {
  background-color: gray;
  width: 402px;
  height: 262px;
}

.window {
  width: 850px;
  height: 550px;
}